<th:block th:fragment="head">
  <!-- jquery & reset.css-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">

  <!-- font-awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

  <!-- tui editor -->
  <link rel="stylesheet" href="/js/tui.editor-1.4.10/dist/tui-editor.min.css">
  <link rel="stylesheet" href="/js/tui.editor-1.4.10/dist/tui-editor-contents.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
  <script th:src="@{/js/tui.editor-1.4.10/dist/tui-editor-Editor-full.min.js}"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tui-color-picker@2.2.6/dist/tui-color-picker.min.css">
  <!-- tui viewer -->
  <!--        <script src="js/tui.editor-1.4.10/dist/tui-editor-Viewer-full.min.js"></script>-->

  <!-- custom js & css-->
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script th:src="@{/js/main.js}"></script>
  <script th:src="@{/js/utils.js}"></script>
</th:block>